/*
Group Memeber:
Yu Chun Fung Ray 1155094125
Pun Man Wing 1155092833
Ho Shing Fung 1155105818
Yip Kai Hin  1155105796
*/

#map {
    height: 50%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    bottom: 0;
    left: 0;
   }